<main class="job">
  <header class="job__header">
    <app-page-title [title]="'Listar Cargos'"></app-page-title>
  </header>

  <section class="job__edit"></section>

  <app-table class="table">
    <ng-container part="list">
      <tr class="table-details__body--text-description">
        <td>Lorem ipsum dolor sit amet.</td>
        <td>
          <span class="vest">
            <span>vesturário</span>
          </span>
        </td>

        <td class="table-details__body--active">Ativo</td>
        <td class="table-details__body--border-btn">
          <button>Editar</button>
        </td>
      </tr>
    </ng-container>
    <app-pagination></app-pagination>
  </app-table>
</main>
