<main class="job">
  <header class="job__header">
    <app-page-title [title]="'Listar Cargos'"></app-page-title>
  </header>

  <section class="job__list">
    <div class="job__list--content">
      <app-input-search
        [align]="{ 'justify-content': 'flex-end' }"
        [styles]="{ width: '100%' }"
        [placeholder]="'Digite CPF, nome ou email'"
      >
      </app-input-search>

      <app-button
        (click)="navigaToRegistrationPage()"
        class="select"
        [text]="'NOVO CARGO'"
        [color]="'#33A93B'"
      >
        <img src="../../../assets/images/icons/img-sum.svg" />
      </app-button>
    </div>

    <app-table class="job__list--table">
      <ng-container part="list" *ngFor="let job of workfield">
        <tr class="job__list--table-details__body--text-description">
          <td style="width: 50%">{{ job.name }}</td>
          <td>
            <span class="job__list--table-details__body--area">
              <span
                class="job__list--table-details__body--text"
                [style.background-color]="job.color"
              >
                {{ job.workfield }}
              </span>
            </span>
          </td>

          <td class="job__list--table-details__body--active">Ativo</td>
          <td class="job__list--table-details__body--border-btn">
            <button (click)="navigaToEditPage()">Editar</button>
          </td>
        </tr>
      </ng-container>
    </app-table>

    <div class="job__list--pagination" *ngIf="workfield.length !== 0">
      <app-pagination-number
        [visibleItems]="workfield.length"
        [totalItems]="totalCountJobs"
      ></app-pagination-number>
      <app-pagination
        [pagination$]="pagination$"
        (currentPageEmit)="paginateJobs($event, tempJobsList)"
      >
      </app-pagination>
    </div>
  </section>
</main>
