<div class="tab-struct" [formGroup]="changePasswordForm">
  <input
    type="password"
    placeholder="nova senha"
    formControlName="newPass"
    required
  />
  <span class="error-invalid" *ngIf="pass.errors?.pattern">
    Senha inválida!
  </span>
  <input
    type="password"
    placeholder="confirmar senha"
    formControlName="confirmPass"
    (keyup)="verify()"
  />
</div>
<span class="text-error" *ngIf="!isMatch">
  Ops! Algo deu errado. Digite a mesma senha nos dois campos.</span
>
<div class="buttons-style">
  <app-button
    [text]="'Cancelar'"
    [color]="'transparent'"
    [textColor]="'#1C3152'"
    (click)="closeModalPassword()"
  >
  </app-button>
  <app-button [text]="'Salvar'" [color]="'#1C3152'" type="submit"> </app-button>
</div>
