<div class="card-password" *ngIf="legalUser$ | async as legalUser">
  <app-information-card
    [career]="legalUser.legalPerson.workfield.name"
    [tagBackground]="legalUser.legalPerson.workfield.colorCode"
    [title]="legalUser.legalPerson.name"
  >
    <div class="card-details">
      <span class="card-details__forwading-datas">
        <img src="../../../../assets/images/icon-company.svg" />
        <b> {{ legalUser.legalPerson.forwardings.length }} </b>Encaminhamentos
        em aberto
      </span>

      <span class="card-details__forwading-datas">
        <img src="../../../../assets/images/icon-company-blue.svg" />
        <b> {{ legalUser.legalPerson.forwardings.length }} </b>Encaminhamentos
        concluídos
      </span>
    </div>

    <div class="card-company">
      <span>Ativa desde: {{ legalUser.createdAt | date: 'dd/MM/yyyy' }}</span>
      <span
        >Status:
        <span class="card-company__status">{{
          legalUser.legalPerson.valid ? 'Ativa' : 'Em Análise'
        }}</span></span
      >
    </div></app-information-card
  >

  <app-tab-nav
    class="tab-content"
    [titles]="sectionTitle"
    (activeTab)="changeTab($event)"
  ></app-tab-nav>
  <ng-container *ngIf="activeTab == sectionTitle[0]">
    <span class="reset-password--span"
      >Ao apertar o botão a senha irá resetar.</span
    >
    <div class="button-reset-container">
      <app-button
        [color]="'#33a93b'"
        [text]="'Resetar senha'"
        (click)="resetPassword(legalUser.id)"
      ></app-button>
      <span *ngIf="passwordWasReseted">Senha resetada com sucesso.</span>
    </div>
    <div class="buttons">
      <app-button
        [text]="'Fechar'"
        [color]="'transparent'"
        [textColor]="'#1C3152'"
        (click)="closeModal()"
      >
      </app-button>
    </div>
  </ng-container>
  <ng-container *ngIf="activeTab == sectionTitle[1]">
    <app-reset-email
      (formNewEmail)="changeEmail(legalUser, $event)"
    ></app-reset-email>
  </ng-container>
</div>
