<div class="card-password">
  <!-- <div class="title">
    <h3 class="title">Nome</h3>
    <h4>Matrícula 0000</h4>
  </div> -->
  <app-information-card></app-information-card>

  <app-tab-nav
    class="tab-content"
    [titles]="sectionTitle"
    (activeTab)="changeTab($event)"
  ></app-tab-nav>
  <ng-container *ngIf="activeTab == sectionTitle[0]">
    <app-reset-password-user></app-reset-password-user>
  </ng-container>
  <ng-container *ngIf="activeTab == sectionTitle[1]">
    <app-reset-email></app-reset-email>
  </ng-container>
</div>
