<main class="resume">
  <header class="resume__header">
    <app-page-title [title]="'Listar Currículos'"></app-page-title>
  </header>

  <app-input-search
    [align]="{ 'justify-content': 'flex-end' }"
    [styles]="{ width: '30%' }"
    [placeholder]="'Pesquiser por CPF, nome ou email'"
    (search)="setGeneralInfo($event)"
  >
  </app-input-search>

  <section class="resume__content">
    <app-tab-nav [titles]="tabs" (activeTab)="changeTab($event)"></app-tab-nav>

    <div class="resume__tabs">
      <app-active-resume-list
        [generalInfo]="paramGeneralInfo"
        *ngIf="activeTab == tabs[0]"
      ></app-active-resume-list>

      <app-archived-resume-list
        [generalInfo]="paramGeneralInfo"
        *ngIf="activeTab == tabs[1]"
      ></app-archived-resume-list>
    </div>
  </section>
</main>
