@import '../../../assets/styles/scss/variables';
.resume {
  &__header {
    margin-bottom: 2rem;
  }
  &__header img {
    margin-top: 1.5rem;
  }

  &__content {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  &__search {
    position: absolute;
    height: 30px;
    right: 3.47%;
    top: 165px;
    background: transparent;
    border: 1px solid #cccccc;
    border-radius: 4px;
    #search::placeholder {
      font-size: 0.9rem;
      color: #9999a8;
    }
    &__search img {
      position: relative;
    }
  }
  &__search input {
    border: none;
  }
}
