<main class="resume">
  <header class="resume__header">
    <app-page-title [title]="'Listar Currículos'"></app-page-title>
  </header>

  <app-input-search
    [align]="{ 'justify-content': 'flex-end' }"
    [styles]="{ width: '20%' }"
    [placeholder]="'Digite CPF, nome ou e-mail'"
  >
  </app-input-search>

  <section class="resume__content">
    <div class="resume__filter">
      <img
        class="resume__filter-img"
        src="../../../assets/icons/filter.svg"
        alt="filter"
      />
    </div>

    <app-tab-nav
      [titles]="['ATIVOS', 'ARQUIVADOS']"
      (activeTab)="changeCurrentTab($event)"
    ></app-tab-nav>

    <app-button [text]="'NOVO CURRÍCULO'" [color]="'#33A93B'">
      <img src="../../../assets/icons/img-sum.svg" alt="" />
    </app-button>

    <app-active-resume-list></app-active-resume-list>
    <!-- <app-archived-resume-list></app-archived-resume-list> -->
  </section>
</main>
