<div class="card">
  <div class="top-card">
    <p class="career">{{ career }}</p>
    <h3 class="title">{{ title }}</h3>
    <span class="card-company icon-green">
      <img src="../../../../assets/images/icon-company.svg" />
    </span>
    <span class="card-company text-number-green"> 2 </span>
    <span class="card-company icon-green text-icon-green">
      Encaminhamentos em aberto
    </span>

    <span class="card-company icon-gray">
      <img src="../../../../assets/images/icon-company-blue.svg" />
    </span>
    <span class="card-company text-number-blue">3</span>
    <span class="card-company text-icon-blue">Encaminhamentos concluídos</span>

    <span class="card-company text-icon-blue"> Ativa desde: 15/10/21 </span>
    <span class="card-company text-number-blue"> Status: </span>
    <span class="card-company text-number-green"> Ativa </span>
  </div>

  <div class="bottom-card">
    <ng-content></ng-content>
  </div>
</div>
