@import 'variables';

.reset-card {
  width: 100%;
  background: $white;
  box-shadow: 1px 2px 8px -2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 2rem;
  text-align: left;

  &--text span:first-child {
    font-size: 1.25rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
  }

  &--text span {
    font-weight: normal;
    display: flex;
    font-weight: normal;
    color: $blue-700;
    margin-bottom: 2rem;
    font-size: 0.8rem;
  }

  &--inputs input {
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
  }

  &--alert span {
    font-size: 0.8rem;
    font-weight: bold;
    color: $red-500;
  }

  &--button {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }
}
