<div class="reset-card">
  <div class="reset-card--text">
    <span>Alterar senha</span>
    <span>Matrícula: 00000</span>
  </div>

  <div class="reset-card--inputs">
    <input type="text" placeholder="Senha Atual" />
    <input type="text" placeholder="Nova Senha" />
    <input type="text" placeholder="Repetir Senha" />
  </div>

  <div class="reset-card--alert">
    <span>Ops! Algo deu errado. Digite a mesma senha nos dois campos.</span>
  </div>

  <app-button class="reset-card--button" [text]="'Alterar'" [color]="'#1C3152'">
  </app-button>
</div>
