<div class="reset-password" [formGroup]="changePasswordForm">
  <div class="input-group">
    <input
      [type]="isVisibleEyeNewPasswordInput ? 'text' : 'password'"
      placeholder="Nova senha"
      formControlName="newPassword"
      required
    />
    <button type="button" (click)="toggleEyeNewPasswordInput()">
      <img
        [attr.src]="
          !isVisibleEyeNewPasswordInput
            ? '../../../../../assets/images/icons/eye-stop-pass.svg'
            : '../../../../../assets/images/icons/eye-pass.svg'
        "
        alt="Olho"
      />
    </button>

    <span class="text-error" *ngIf="newPassword?.errors?.pattern">
      Senha inválida!
    </span>
  </div>

  <div class="input-group">
    <input
      [type]="isVisibleEyeConfirmPasswordInput ? 'text' : 'password'"
      placeholder="Confirmar senha"
      formControlName="confirmPassword"
      (keyup)="verify()"
    />
    <button type="button" (click)="toggleEyeConfirmPasswordInput()">
      <img
        [attr.src]="
          !isVisibleEyeConfirmPasswordInput
            ? '../../../../../assets/images/icons/eye-stop-pass.svg'
            : '../../../../../assets/images/icons/eye-pass.svg'
        "
        alt="Olho"
      />
    </button>

    <span class="text-error" *ngIf="!isMatch">
      Digite a mesma senha nos dois campos.</span
    >
  </div>

  <div class="buttons">
    <app-button
      [text]="'Cancelar'"
      [color]="'transparent'"
      [textColor]="'#1C3152'"
      (click)="closeModalPassword()"
    >
    </app-button>
    <app-button
      [text]="'Salvar'"
      [disabled]="changePasswordForm.invalid"
      [color]="'#1C3152'"
      type="submit"
    >
    </app-button>
  </div>
</div>
