<div class="tab-struct" [formGroup]="changePasswordForm">
  <div class="input-icon">
    <input
      id="pwd-one"
      [type]="buttonState ? 'text' : 'password'"
      placeholder="Nova senha"
      formControlName="newPass"
      required
    />
    <button (click)="toggle()">
      <img
        *ngIf="!buttonState"
        src="../../../../../assets/icons/eye-stop-pass.svg"
        alt="eye-stop-pass"
      />
      <img
        *ngIf="buttonState"
        src="../../../../../assets/icons/eye-pass.svg"
        alt="eye-pass"
      />
    </button>
  </div>
  <span class="error-invalid" *ngIf="pass.errors?.pattern">
    Senha inválida!
  </span>
  <div class="input-icon">
    <input
      id="pwd-two"
      [type]="activeButton ? 'text' : 'password'"
      placeholder="Confirmar senha"
      formControlName="confirmPass"
      (keyup)="verify()"
    />
    <button (click)="toggleTwo()">
      <img
        *ngIf="!activeButton"
        src="../../../../../assets/icons/eye-stop-pass.svg"
        alt="eye-stop-pass"
      />
      <img
        *ngIf="activeButton"
        src="../../../../../assets/icons/eye-pass.svg"
        alt="eye-pass"
      />
    </button>
  </div>
</div>
<span class="text-error" *ngIf="!isMatch">
  Ops! Algo deu errado. Digite a mesma senha nos dois campos.</span
>
<div class="buttons-style">
  <app-button
    [text]="'Cancelar'"
    [color]="'transparent'"
    [textColor]="'#1C3152'"
    (click)="closeModalPassword()"
  >
  </app-button>
  <app-button [text]="'Salvar'" [color]="'#1C3152'" type="submit"> </app-button>
</div>
