<div class="tab-struct" [formGroup]="changePasswordForm">
  <input
    type="password"
    placeholder="nova senha"
    formControlName="newPass"
    ngModel
    required
  />
  <input
    type="password"
    placeholder="confirmar senha"
    formControlName="confirmPass"
    [ngModel]="changes"
    (ngModelChange)="changes = $event"
    ngModel
    required
  />
  <span *ngIf="!!confirmPass!.errors!.notSame">
    Ops! Algo deu errado. Digite a mesma senha nos dois campos.</span
  >
</div>
<div class="buttons-style">
  <app-button
    [text]="'Cancelar'"
    [color]="'transparent'"
    [textColor]="'#1C3152'"
    (click)="closeModalPassword()"
  >
  </app-button>
  <app-button [text]="'Salvar'" [color]="'#1C3152'" type="submit"> </app-button>
</div>
