<div class="card">
  <div class="topCard">
    <div class="top">
      <span class="title"><b>Nome Fantasia</b></span>
      <span class="career">ramo da empresa</span>
      <span class="date">Data de solicitação: 00/00/000</span>
    </div>
  </div>

  <div class="bottomCard">
    <span class="botInfo"><b>CNPJ</b> 00.000.000/0000-00</span>
    <div class="socialNumber">
      <span class="botInfo"
        ><b>Razão Social</b> Lorem Ipsum Dolor Sit Amet
      </span>
      <span class="botInfo"><b>Número de Funcionários</b> 00000 </span>
    </div>
  </div>

  <div class="boxes">
    <div class="firstBox">
      <h1 class="contato">Contato</h1>

      <div class="contact">
        <span class="informations"><b>Telefone:</b> (00) 0000-0000 </span>
        <span class="informations"><b>E-mail:</b> lorem.ipsum@dolor.sit</span>
      </div>
    </div>

    <div class="secondBox">
      <h1 class="contato">Endereço</h1>
      <div class="cepAndCity">
        <span class="informations"><b>CEP:</b> 00.000.000 </span>
        <span class="informations"><b>Cidade:</b> Parnamirim</span>
      </div>

      <div class="neighAndCountry">
        <span class="informations"><b>Bairro:</b> Lorem Ipsum </span>
        <span class="informations"><b>País:</b> Brasil</span>
      </div>

      <div class="streetAndNumber">
        <span class="informations"
          ><b>Rua:</b> Lorem ipsum sit dolor amet
        </span>
        <span class="informations"><b>Número:</b> 00.000.000</span>
      </div>
    </div>

    <div class="thirdBox">
      <h1 class="contato">Representante da Empresa</h1>
      <div class="nameAndTel">
        <span class="informations"
          ><b>Nome:</b> Lorem ipsum sit dolor amet
        </span>
        <span class="informations"><b>Telefone:</b> (00) 0000-0000</span>
      </div>

      <div class="celAndEmail">
        <span class="informations"><b>Celular:</b> (00) 00000-0000 </span>
        <span class="informations"><b>E-mail:</b> lorem.ipsum@dolor.sit</span>
      </div>
    </div>
  </div>
</div>
