<div class="container">
  <app-table class="table" [setColumns]="tableColumns">
    <ng-container *ngIf="!!resumes" part="list">
      <tr
        class="table-details__body--text-description"
        *ngFor="let resume of resumes; let resumeIndex = index"
      >
        <td>{{ resume?.physicalPerson?.name }}</td>
        <td>
          <span
            *ngFor="
              let phone of resume.physicalPerson.phoneNumbers;
              let isLast = last
            "
            class="phone"
          >
            <span *ngIf="!isLast">{{ phone.number }},</span>
            <span *ngIf="isLast">{{ phone.number }}</span>
          </span>
        </td>

        <td class="table-details__body--color-green">Disponível</td>
        <td class="table-details__body--border-btn">
          <button type="button" (click)="viewResume(resume.id)">
            Visualizar
          </button>
          <button type="button">Editar</button>
          <button type="button" (click)="openArchivingModal(resume)">
            Arquivar
          </button>
        </td>
      </tr>
    </ng-container>

    <ng-container part="empty" *ngIf="!resumes.length">
      <span id="no-content">Ainda não há currículos registrados!</span>
    </ng-container>
  </app-table>

  <div class="pagination" *ngIf="resumes.length !== 0">
    <app-pagination-number
      [visibleItems]="resumes.length"
      [totalItems]="totalCountResumes"
    ></app-pagination-number>

    <app-pagination
      [pagination$]="pagination$"
      (currentPageEmit)="getResumesFromServer($event)"
    ></app-pagination>
  </div>
</div>
