<main class="home">
  <header class="home__header">
    <app-page-title [title]="'Números gerados'"></app-page-title>
  </header>

  <section class="home__content" *ngIf="portalMetrics | async as metric">
    <app-analytic-card
      [data]="metric.totalPhysicalPersons"
      [title]="'Pessoas Cadastradas'"
    ></app-analytic-card>

    <app-analytic-card
      [data]="metric.totalResumes"
      [title]="'Total de Currículos'"
    ></app-analytic-card>

    <app-analytic-card
      [data]="metric.totalHired"
      [title]="'Pessoas Contratadas'"
    ></app-analytic-card>

    <app-analytic-card
      [data]="metric.totalForwardings"
      [title]="'Total de Encaminhamentos'"
    ></app-analytic-card>

    <app-analytic-card
      [data]="metric.totalCompanies"
      [title]="'Total de Empresas Cadastradas'"
    ></app-analytic-card>
    <app-analytic-card
      [data]="metric.totalCompaniesActive"
      [title]="'Empresas Ativas'"
    ></app-analytic-card>
    <app-analytic-card
      [data]="metric.totalCompaniesAnalysis"
      [title]="'Empresas em Análise'"
    ></app-analytic-card>
  </section>
</main>
