<nav class="pagination-details" *ngIf="pagination$ | async as pagination">
  <ul class="pagination-details__page">
    <li class="pagination-details__page__prev" *ngIf="pagination.current > 1">
      <button (click)="setCurrentPage(pagination.previous)">Anterior</button>
    </li>
    <li class="pagination-details__page--active">
      <span> {{ getNumberPage(pagination.current) }} </span>
    </li>
    <li
      class="pagination-details__page__next"
      *ngIf="pagination.next !== undefined"
    >
      <button (click)="setCurrentPage(pagination.next)">Próximo</button>
    </li>
  </ul>
</nav>
