<div class="forwarding">
  <div class="header"></div>
  <span class="career">professor</span>
  <div class="topside">
    <span class="company">Nome da Empresa</span>
    <div class="leftside">
      <span class="opening"> <b>Abertura</b> 00/00/0000 </span>
      <span class="finishing"> <b>Finalização</b> 00/00/0000 </span>
    </div>
  </div>

  <div class="curriculum">
    <img
      src="../../../../../assets/images/icons/icon-forwarding-card.svg"
      alt=""
    />
    <span>20 currículos</span>
  </div>

  <div class="firstButtons">
    <div>
      <button class="available">
        <p>Disponíveis</p>
      </button>
      <button class="contracts">
        <p>Contratados</p>
      </button>
    </div>
  </div>

  <div class="input">
    <div>
      <input type="checkbox" id="scales" name="scales" checked />
      <label for="scales"> Selecionar todos</label>
    </div>
    <app-input-search
      [placeholder]="'Digite CPF, nome ou email'"
      [styles]="{ width: '20rem' }"
    ></app-input-search>
  </div>
  <div class="table">
    <table class="table-details">
      <thead class="thead">
        <tr class="text-title">
          <th>Contratar</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>E-mail</th>
          <th>Currículo</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr class="text-description">
          <td>
            <div class="checkbox">
              <input type="checkbox" id="check" name="check" checked />
              <label for="check"></label>
            </div>
          </td>
          <td>Lorem Ipsum sit dolor amet</td>
          <td>(00) 90000-0000</td>
          <td>loremipsum@dolor.sit</td>
          <td class="tbtn">
            <button>ver currículo</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <app-pagination></app-pagination>
  </div>
  <div class="footer">
    <div class="secondButtons">
      <div class="remove">
        <img src="../../../../../assets/images/icons/trash-icon.svg" alt="" />
        <app-button
          class="button.decline"
          [text]="'Remover Encaminhamento'"
          [color]="'transparent'"
          [textColor]="'#FD3737'"
        >
        </app-button>
      </div>

      <div class="otherButtons">
        <app-button
          class="button.decline"
          [text]="'Cancelar'"
          [color]="'transparent'"
          [textColor]="'#1C3152'"
          (click)="closeModal()"
        >
        </app-button>

        <app-button
          class="button.decline"
          [text]="'Finalizar Encaminhamento'"
          [color]="'#FD3737'"
        >
        </app-button>

        <app-button
          class="button.decline"
          [text]="'Salvar'"
          [color]="'#1C3152'"
        >
        </app-button>
      </div>
    </div>
  </div>
</div>
