<div class="page">
  <h1>
    <img
      class="img-logo"
      src="../../assets/images/logo-bemp.svg"
      alt="Banco de Empregos"
    />
  </h1>
  <div class="card-login">
    <div class="card-login__top-card">
      <img
        class="card-login__top-card--logo-parnamirim"
        src="../../assets/images/logo-parnamirim.svg"
        alt="Prefeitura Municipal de Parnamirim"
      />
      <h2 class="card-login__top-card--title">Gerenciador Banco de Empregos</h2>
      <h3 class="card-login__top-card--title--subtitle">
        Prefeitura Munipal de Parnamirim
      </h3>
      <div class="card-login__top-card--line-bottom"></div>
    </div>

    <div class="input__group">
      <input class="input__group--line-login" type="text" placeholder="Login" />
      <input
        class="input__group--line-password"
        type="password"
        placeholder="Senha"
      />
      <button (click)="login()" class="input__group--btn-style">Entrar</button>
    </div>
  </div>
  <div class="text">
    Desenvolvido por
    <img class="img-gcti" src="../../assets/images/logo-gcti.svg" alt="GCTI" />
  </div>

  <span class="text-footer">
    ©{{ currentDate | date: 'yyyy' }} - Prefeitura Munipal de Parnamirim
  </span>
</div>
