<main class="page">
  <header class="header">
    <img src="../../assets/images/logo-bemp.svg" alt="Banco de Empregos" />
  </header>

  <section class="login">
    <div class="login__title">
      <img
        src="../../assets/images/logo-parnamirim.svg"
        alt="Prefeitura Municipal de Parnamirim"
      />
      <h1>Gerenciador Banco de Empregos</h1>
      <h2>Prefeitura Munipal de Parnamirim</h2>
      <div class="login__line"></div>
    </div>

    <div class="login__inputs">
      <input type="text" placeholder="Login" />
      <input type="password" placeholder="Senha" />
      <button (click)="login()">Entrar</button>
    </div>
  </section>

  <footer class="footer">
    <span class="footer__gcti">
      Desenvolvido por
      <img src="../../assets/images/logo-gcti.svg" alt="GCTI" />
    </span>

    <span class="footer__copyright">
      ©{{ currentDate | date: 'yyyy' }} - Prefeitura Munipal de Parnamirim
    </span>
  </footer>
</main>
