@import 'variables';

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $blue-700;
  padding: 2rem;
  min-height: 100vh;

  .header {
    > img {
      max-width: 239px;
      margin-bottom: 3.5rem;
    }
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 30rem;
    min-height: 35rem;
    background: $white;
    box-shadow: 0px 4px 33px -17px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;

    &__title {
      margin-top: 3rem;

      > img {
        margin-bottom: 2rem;
      }

      > h1 {
        font-weight: 500;
        line-height: 100%;
        color: $blue-700;
      }

      > h2 {
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 0.9rem;
        color: $blue-700;
        margin: 1rem;
      }
    }

    &__line {
      width: 80%;
      height: 1px;
      margin: 0 auto;
      border-bottom: 1px solid $blue-700;
    }

    &__inputs {
      width: 100%;
      padding: 0 2rem;
      margin-bottom: 4rem;

      .password {
        width: 100%;
        position: relative;
        margin-bottom: 2.5rem;

        > input {
          border: none;
          border-bottom: 1px solid $gray-500;
          width: 100%;
          margin-top: 1rem;
          height: 45px;
        }

        button {
          background: none;
          right: 8px;
          top: 23px;
          border: none;
          position: absolute;
          width: 5%;

          &:hover {
            filter: brightness(0.7) !important;
          }
        }
      }

      button {
        border: none;
        border-radius: 5px;
        width: 100%;
        height: 40px;
        background: $blue-700;
        color: $white;
      }

      > input {
        border: none;
        border-bottom: 1px solid $gray-500;
        width: 100%;
        margin-top: 2rem;
        height: 45px;
      }

      input + input {
        margin-bottom: 2rem;
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 300;
    color: $white;
    margin-top: 1.5rem;
    font-size: 1rem;
    text-align: center;

    &__gcti {
      margin-left: 0;
      display: flex;
      align-items: center;

      > img {
        margin-left: 1rem;
      }
    }

    &__copyright {
      position: fixed;
      width: 100%;
      font-weight: 300;
      color: $white;
      font-size: 1rem;
      bottom: 1.5rem;
      text-align: center;
    }
  }
}

@media screen and(max-height: 720px) {
  .page {
    .login {
      width: 100vw;
      margin-top: 2rem;
      min-height: 0;
      &__inputs {
        > button {
          height: 2rem;
        }
      }

      &__title {
        img {
          margin-bottom: 1rem;
          width: 5rem;
        }

        h1 {
          font-size: 1.2rem;
        }

        h2 {
          font-size: 1rem;
        }
      }
    }

    .header {
      img {
        width: 20rem;
        margin: 0;
      }
    }
    .footer {
      color: $white;
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (min-width: 1184px) {
  .footer {
    &__copyright {
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 520px) {
  .page {
    padding: 2rem 6rem;
    .header {
      > img {
        max-width: 339px;
      }
    }

    .footer {
      line-height: 1rem;

      &__gcti {
        margin-left: 1.3rem;
      }

      &__copyright {
        text-align: left;
        margin-left: 5rem;
      }
    }
  }
}
