<main class="page">
  <header class="header">
    <img src="../../assets/images/logo-bemp.svg" alt="Banco de Empregos" />
  </header>

  <section class="login">
    <div class="login__title">
      <img
        src="../../assets/images/logo-parnamirim.svg"
        alt="Prefeitura Municipal de Parnamirim"
      />
      <h1>Gerenciador Banco de Empregos</h1>
      <h2>Prefeitura Municipal de Parnamirim</h2>
      <div class="login__line"></div>
    </div>

    <form [formGroup]="form" class="login__inputs">
      <input
        formControlName="login"
        type="text"
        placeholder="Login"
        name="login"
        id="login"
      />
      <input
        formControlName="password"
        type="password"
        placeholder="Senha"
        name="password"
        id="password"
      />

      <button [disabled]="form.invalid" type="button" (click)="onSubmit()">
        {{ loginRequestIsLoading ? 'Carregando...' : 'Entrar' }}
      </button>
    </form>
  </section>

  <footer class="footer">
    <span class="footer__gcti">
      Desenvolvido por
      <img src="../../assets/images/logo-gcti.svg" alt="GCTI" />
    </span>

    <span class="footer__copyright">
      ©{{ currentDate | date: 'yyyy' }} - Prefeitura Municipal de Parnamirim
    </span>
  </footer>
</main>
