<main class="job">
  <header class="job__header">
    <app-page-title [title]="'Editar Cargo'"></app-page-title>
  </header>

  <section class="job__edit">
    <div class="job__edit--content-data">
      <h2>Dados do Cargo</h2>

      <div class="job__edit--content-data--line">
        <input
          [(ngModel)]="infoJob?.job.name"
          required
          type="text"
          placeholder="Nome Fantasia"
          [value]="infoJob?.job.name"
          (focus)="onFocus()"
          (focusout)="onFocus()"
          [ngClass]="{ error: alert }"
        />

        <div id="showError" *ngIf="alert">
          <span> Campo obrigatório </span>
        </div>

        <select [(ngModel)]="selected">
          <option *ngFor="let jbw of jobFields | async" [value]="jbw.id">
            {{ jbw.name }}
          </option>
        </select>
      </div>

      <div class="buttons-style">
        <app-button
          class="button.decline"
          [text]="'Voltar'"
          [color]="'transparent'"
          [textColor]="'#1C3152'"
          (click)="back()"
        >
        </app-button>

        <app-button
          class="button.decline"
          [text]="'Editar'"
          [color]="'#1C3152'"
          [disabled]="!infoJob?.job.name"
          (click)="updateJobsEdit()"
        >
        </app-button>
      </div>
    </div>
  </section>
</main>
