<main class="job">
  <header class="job__header">
    <app-page-title [title]="'Editar Cargo'"></app-page-title>
  </header>

  <section class="job__edit">
    <div class="job__edit--content-data">
      <h2>Dados do Cargo</h2>

      <div class="job__edit--content-data--line">
        <input
          [(ngModel)]="jobToEdited?.job.name"
          required
          type="text"
          placeholder="Nome Fantasia"
          [value]="jobToEdited?.job.name"
          (focus)="onFocus()"
          (focusout)="onFocus()"
          [ngClass]="{ error: jobNameInputIsValid }"
        />

        <div id="showError" *ngIf="jobNameInputIsValid">
          <span> Campo obrigatório </span>
        </div>

        <select [(ngModel)]="selectedWorkField">
          <option
            *ngFor="let workfield of workfields | async"
            [value]="workfield.id"
          >
            {{ workfield.name }}
          </option>
        </select>
      </div>

      <div class="buttons-style">
        <app-button
          class="button.decline"
          [text]="'Voltar'"
          [color]="'transparent'"
          [textColor]="'#1C3152'"
          (click)="back()"
        >
        </app-button>

        <app-button
          class="button.decline"
          [text]="'Editar'"
          [color]="'#1C3152'"
          [disabled]="!jobToEdited?.job.name"
          (click)="updateJob()"
        >
        </app-button>
      </div>
    </div>
  </section>
</main>
