<table class="table-details">
  <thead class="table-details__head">
    <tr class="table-details__head--text-title">
      <th>Nome</th>
      <th>Telefone(s)</th>
      <th>Cargo</th>
      <th>Situação</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody class="table-details__body">
    <tr class="table-details__body--text-description">
      <td>Lorem, ipsum</td>
      <td>(84) 99999-9999, (84) 3272-0000</td>
      <td class="table-details__body--bg-primary">
        <span> professor </span>
      </td>
      <td class="table-details__body--color-red">Arquivado</td>
      <td class="table-details__body--border-btn">
        <button>visualizar</button> | <button>editar</button> |
        <button>arquivar</button>
      </td>
    </tr>
  </tbody>
</table>
