@import 'variables';

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.table-details {
  width: 100%;
  background-color: $gray-100;
  border-collapse: collapse;
  overflow-x: auto;
  color: $blue-700;

  &__head {
    font-weight: bold;
    &--text-title th:first-child {
      text-align: left;
    }
    &--text-title th {
      padding: 0.7rem 2rem;
    }
    &--text-title {
      border-bottom: 1px solid $black-100;
      border-left: none;
      border-right: none;
    }
  }
  &__body {
    text-align: center;
  }
}
