<app-pagination-number
  class="pagination-number"
  [visibleItems]="company.length"
  [totalItems]="totalCompanys"
>
</app-pagination-number>
<app-table>
  <tr *ngFor="let company of companys$ | async" part="list">
    <td
      style="
        color: #1c3152;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: flex-start;
        padding: 2rem 2rem;
      "
    >
      {{ company.Fantasyname }}
    </td>
    <td style="color: #1c3152; font-size: 14px; font-weight: 400">
      {{ company.cnpj }}
    </td>
    <td style="color: #1c3152; font-size: 14px; font-weight: 400">
      {{ company.requestDate }}
    </td>
    <td>
      <button class="button-view">Visualizar</button>
    </td>
    <td>
      <div class="button">
        <div>
          <app-button
            [ngStyle]="{
              'font-weight': '400'
            }"
            [appHighlight]="'#33A93B'"
            [text]="'Aceitar'"
            [color]="'#999999'"
          >
            <img src="../../../assets/images/icon-confirm.svg" />
          </app-button>
        </div>
        <div>
          <app-button
            [appHighlight]="'#FD3737'"
            [text]="'Recusar'"
            [color]="'#999999'"
          >
            <img src="../../../assets/images/icon-recusar.svg" />
          </app-button>
        </div>
      </div>
    </td>
  </tr>
</app-table>
