<div class="card" (click)="editForwarding()">
  <app-information-card [career]="career" [title]="title">
    <span class="id-details">#20220100001</span>
    <div class="forwarding-details">
      <img
        src="../../../../../assets/images/icons/icon-forwarding-card.svg"
        alt=""
      />
      <p><b>05</b> currículos</p>
    </div>

    <div class="process-details">
      <span class="process-details__open">
        <p>Abertura</p>
        <b>00/00/00</b>
      </span>
      <span class="process-details__finish">
        <p>Finalização</p>
        <b>00/00/00</b>
      </span>
    </div>
  </app-information-card>
</div>
