<div class="card" (click)="editForwarding()">
  <app-information-card
    [tagBackground]="infos.selectedColor"
    [career]="infos.job"
    [title]="infos.companyName"
  >
    <span class="id-details">#{{ infos.id }}</span>
    <div class="forwarding-details">
      <img
        src="../../../../../assets/images/icons/icon-forwarding-card.svg"
        alt=""
      />
      <p>
        <b>{{ infos.forwardingResumes.length }}</b> currículo(s)
      </p>
    </div>

    <div class="process-details">
      <span class="process-details__open">
        <p>Abertura</p>
        <b>{{ infos.createdAt }}</b>
      </span>
      <span class="process-details__finish">
        <p>Finalização</p>
        <b>{{ infos.isFinished ? infos.lastModifiedAt : 'EM ANDAMENTO' }}</b>
      </span>
    </div>
  </app-information-card>
</div>
