@import 'variables';

.company-registration {
  &__header {
    margin-bottom: 2rem;
  }

  &__form {
    background-color: $white;
    border-radius: 14px;
    box-shadow: $box-shadow;
    margin-top: 1.5rem;
    padding: 1rem 3rem 3rem 3rem;
  }

  &__form-container {
    > h2 {
      color: $blue-700;
      font-size: 1.25rem;
      font-weight: 400;
      margin: 3rem 0 1.5rem 0;
    }
  }

  &__input-group {
    .--invalid {
      border: 1px solid $red-400 !important;
    }

    input {
      border-radius: 4px;
      border: 1px solid #cccccc;
      padding: 0.6rem;
      display: block;
      width: 100%;
      &::placeholder {
        font-size: 1rem;
      }
    }

    select {
      border-radius: 4px;
      border: 1px solid #cccccc;
      width: 27%;
      padding: 0.6rem;
      background: url(../../../../../assets/icons/arrow-bottom.svg);
      -webkit-appearance: none;
      color: $gray-700;
      font-size: 1rem;
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }

    &--phone-number-array {
      img {
        width: 25px;
        position: relative;
      }

      button {
        background: transparent;
        border: none;
        padding-top: 0.2rem;
      }

      > .email-input {
        height: 2.5rem;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;
  }
}

.phone-number-array {
  &__array {
    display: grid;
    gap: 1rem;
  }
  &__phone-number {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__input {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    input {
      width: 98%;
      height: 2.5rem;
    }
    .icon-recursa {
      width: 2rem;
      right: -5px;
    }
  }

  &__checkbox {
    margin-top: 1rem;
    gap: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
    align-items: center;
    color: $gray-700;
    margin-left: 0.2rem;
    display: flex;
    input {
      width: 30px;
    }
    label {
      cursor: pointer;
    }
  }
}

.grid {
  display: grid;
  gap: 2rem;
  margin-bottom: 2rem;
}

.line {
  grid-template-columns: 1fr;

  &-1 {
    grid-template-columns: 2fr 1fr;
  }

  &-2 {
    grid-template-columns: repeat(3, 1fr);
    select {
      width: 100%;
    }
  }

  &-3 {
    grid-template-columns: 2fr 1fr;
  }

  &-4 {
    grid-template-columns: 2fr 3fr 1fr;
  }

  &-5 {
    grid-template-columns: 1fr 1fr 2fr;
  }

  &-6 {
    grid-template-columns: 2fr 1fr;
  }

  &-7 {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 885px) {
    @for $i from 1 through 7 {
      &-#{$i} {
        grid-template-columns: 1fr;
      }
    }
  }
}
