@import 'variables';

.company-registration {
  &__header {
    margin-bottom: 2rem;
  }

  &__form {
    background-color: $white;
    border-radius: 14px;
    box-shadow: $box-shadow;
    margin-top: 1.5rem;
    padding: 1rem 3rem 3rem 3rem;
  }

  &__form-container {
    > h2 {
      color: $blue-700;
      font-size: 1.25rem;
      font-weight: 400;
      margin: 3rem 0 1.5rem 0;
    }
  }

  &__input-group {
    > input {
      border-radius: 4px;
      border: 1px solid #cccccc;
      padding: 0.6rem;
      display: block;

      &::placeholder {
        font-size: 1rem;
      }
    }

    > select {
      border-radius: 4px;
      border: 1px solid #cccccc;
      width: 27%;
      padding: 0.6rem;
      background: url(../../../../../assets/icons/arrow-bottom.svg);
      -webkit-appearance: none;
      color: $gray-700;
      font-size: 1rem;
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }

    &--phone-number-array {
      img {
        width: 25px;
        position: relative;
      }

      button {
        background: transparent;
        border: none;
        padding-top: 0.2rem;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;
  }
}

.row {
  display: grid;
  gap: 2rem;
  margin-bottom: 1rem;
}

.row:nth-child(1) {
  background-color: red;
}
