@import '../../../../../assets/styles/scss/variables';
.card-archiving {
  width: 501px;
  height: 331px;
  background: #ffffff;
  border-radius: 15px;
  .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: $blue-700;
  }
}
