<div class="card-archiving">
  <h1 class="card-archiving__title">
    Confirmar Arquivamento
    <span class="card-archiving__situation">
      <b>Situação: </b>
      Ativo
    </span>
  </h1>
  <span class="card-archiving__name-actual">
    Nome:
    <b>{{ resume.physicalPerson.name }}</b>
  </span>

  <div class="card-archiving__select">Motivo:</div>
  <div class="card-archiving__inputs">
    <form>
      <select
        [(ngModel)]="archivingResume.archiving.motive"
        (ngModelChange)="archivingResume.companyName = null"
        name="motive"
        id="motive"
      >
        <option value="null" disabled [defaultSelected]="true">
          Selecione um motivo para o arquivamento
        </option>
        <option
          *ngFor="let motive of motivesArchiving$ | async"
          value="{{ motive }}"
        >
          {{ motive | replace: '_':' ' }}
        </option>
      </select>
      <div
        [ngStyle]="{
          visibility:
            archivingResume.archiving.motive == 'Contratado(a)'
              ? 'visible'
              : 'hidden'
        }"
      >
        <div class="card-archiving__select">Empresa:</div>
        <input
          [(ngModel)]="searchCompanyName"
          (ngModelChange)="autoComplete()"
          name="search"
          id="search"
          placeholder="Busque a Empresa"
          (focus)="changeStateFocus()"
          (focusout)="changeStateFocus()"
        />
        <div class="options" *ngIf="focus">
          <p
            (click)="setValueToCompanyName(company)"
            *ngFor="let company of companies$ | async"
          >
            {{ company }}
          </p>
        </div>
      </div>
    </form>
  </div>

  <div class="card-archiving__buttons">
    <app-button
      class="card-archiving__buttons_cancel"
      [text]="'Cancelar'"
      [color]="'transparent'"
      [textColor]="'#1C3152'"
      (click)="closeModalArchiving()"
    >
    </app-button>
    <div class="card_archiving_buttons__submit">
      <app-button
        [text]="'Confirmar'"
        [color]="'#1C3152'"
        type="submit"
        (handleClick)="sendArchiving()"
        [disabled]="handleForm()"
      >
      </app-button>
    </div>
  </div>
</div>
