<div class="card-archiving">
  <h1 class="card-archiving__title">
    Confirmar Arquivamento
    <span class="card-archiving__situation">
      <b>Situação</b>
      Ativo
    </span>
  </h1>
  <div class="card-archiving">
    <input
      type="select"
      placeholder="Selecione um motivo para o arquivamento"
      id="img"
    />
    <!-- <img
      src="../../../../../assets/icons/arrow-bottom.svg"
      alt="arrow-bottom"
    /> -->
    <!-- <select class="card-archiving__input-group--control-select">
      <option>Select 1</option>
      <option>Select 2</option>
    </select> -->
  </div>
</div>
