<div class="unarchiving-card">
  <h1 class="title-card">Deseja realmente Desarquivar o Currículo?</h1>
  <div class="buttons">
    <app-button
      [text]="'Cancelar'"
      [color]="'transparent'"
      [textColor]="'#1C3152'"
      (click)="closeModalUnarchiving()"
    >
    </app-button>
    <div class="buttons__submit">
      <app-button
        [text]="'Confirmar'"
        [color]="'#1C3152'"
        type="submit"
        (handleClick)="unarchiveResume()"
      >
      </app-button>
    </div>
  </div>
</div>
