@import 'variables';
.company {
  &__header {
    margin-bottom: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    .buttons {
      display: flex;
      margin-bottom: 2rem;
      .btn {
        flex-grow: 1;
      }
      .btn-actives {
        position: relative;
        text-align: left;
        background-color: $blue-700;
        padding: 1rem 2rem;
        border: none;
        border-radius: 5px;
      }

      .btn-analyses {
        position: relative;
        text-align: left;
        background-color: $gray-600;
        border: none;
        padding: 1rem 2rem;
        border-radius: 5px;
        margin: auto 2rem;
      }

      .btn-title {
        color: $white;
        font-size: 24px;
      }
      .btn-text {
        color: $white;
        font-size: 16px;
      }
    }
  }
  &__src {
    position: relative;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    &--icon {
      flex-grow: 1;
      width: 70%;
    }
  }

  &__src input {
    padding: 0.4rem 0.4rem;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: white;
    margin-right: 28rem;
    margin-bottom: 4rem;
    background-image: url(../../../assets/icons/icon-src.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }
  .filter {
    margin-left: 18rem;
  }

  &__src #src::placeholder {
    font-size: 0.7rem;
    color: $gray-500;
  }
}
.select {
  display: flex;
  margin-bottom: 1.5rem;
}

@media (max-width: 1450px) {
  .company {
    &__content {
      .buttons {
        .btn {
          display: flex;
          margin-bottom: 1.3rem;
        }
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    &__src {
      &--icon {
        flex-grow: 1;
        width: 100%;
        height: 3rem;
      }
    }
    .filter {
      margin-bottom: 1.5rem;
    }
  }
}
