<main class="company">
  <header class="company__header">
    <app-page-title [title]="'Empresas'"></app-page-title>
  </header>

  <section class="company__content" id="content">
    <div class="buttons">
      <div class="btn" id="btns">
        <button
          class="btn-actives"
          [class.button-isActive]="isNavActive"
          (click)="changeNav(true)"
        >
          <b class="btn-title">Ativos</b> <br />
          <p class="btn-text">Lista de empresas ativas</p>
        </button>
        <button
          class="btn-analyses"
          [class.button-isActive]="!isNavActive"
          (click)="changeNav(false)"
        >
          <b class="btn-title">Em análise</b>
          <p class="btn-text">Lista de empresas em análise</p>
        </button>
      </div>

      <div class="company__src">
        <div class="company__src--icon">
          <app-input-search
            [styles]="{ width: '100%' }"
            (search)="searchCompany($event)"
            [placeholder]="
              'Pesquise por Nome, Nome do representante, CNPJ, Ramo'
            "
          ></app-input-search>
          <app-sort-filter
            (sort)="getCompanies(paramsToRequest.page, $event)"
          ></app-sort-filter>
        </div>
      </div>
    </div>

    <div *ngIf="isNavActive">
      <app-button
        class="select"
        [text]="'CRIAR EMPRESA'"
        [color]="'#33A93B'"
        (click)="openCompanyRegistration()"
      >
        <img src="../../../assets/images/icons/img-sum.svg" />
      </app-button>
      <app-active-company-list
        [companies]="companies"
      ></app-active-company-list>
    </div>

    <div *ngIf="!isNavActive">
      <app-table [setColumns]="tableColumns">
        <tr
          app-company-list-under-analysis
          *ngFor="let company of companies"
          [company]="company"
          (modalClosed)="getCompanies()"
          part="list"
          style="border-bottom: #cccbcb solid 2px"
        ></tr>
      </app-table>
    </div>

    <footer
      style="display: flex; justify-content: space-between; margin-top: 2rem"
      *ngIf="companies.length > 0; else noContent"
    >
      <app-pagination-number
        class="pagination-number"
        [visibleItems]="visibleItems"
        [totalItems]="totalCompanies"
      >
      </app-pagination-number>
      <app-pagination
        class="pagination"
        (currentPageEmit)="getCompanies($event, paramsToRequest.sort)"
        [pagination$]="pagination$"
      >
      </app-pagination>
    </footer>
  </section>
</main>

<ng-template #noContent>
  <span id="no-content" *ngIf="companies.length <= 0">
    <p>Nenhuma empresa cadastrada</p>
  </span>
</ng-template>
