@import '../../../../../assets/styles/scss/variables';
.card-password {
  width: 419px;
  background: $white;
  border-radius: 15px;
  .text {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    font-weight: 500;
    font-size: 20px;
    color: $blue-700;
    p {
      font-weight: 400;
      font-size: 15px;
      padding: 1rem 0rem 1rem;
    }
  }
  .tab-content {
    display: flex;
    margin-bottom: 1rem;
    margin: 0 0rem 0rem 2rem;
  }
  .tab-struct {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 1rem;
  }
}
