<div class="input">
  <app-input-search
    [placeholder]="placeholderActiveSection"
    [styles]="{ width: '20rem' }"
  ></app-input-search>
</div>

<section class="user__content">
  <div class="tab-nav">
    <app-tab-nav
      [titles]="sectionTitle"
      (activeTab)="changeTab($event)"
    ></app-tab-nav>
  </div>

  <div class="firstSection">
    <ng-container *ngIf="activeTab == sectionTitle[0]">
      <app-table [setColumns]="tableColumns"></app-table>
      <button class="buttons-style" (click)="openUserModal()">
        Abrir modal
      </button>
    </ng-container>
  </div>

  <div class="secondSection" *ngIf="activeTab == sectionTitle[1]">
    <ng-container
      *ngIf="this.featureFlag.legalUser; else legal_module_desabled"
    >
      <app-table [setColumns]="tableColumns"></app-table>
    </ng-container>
    <ng-template #legal_module_desabled>
      <app-not-allowed></app-not-allowed>
    </ng-template>
  </div>

  <div class="thirdSection" *ngIf="activeTab == sectionTitle[2]">
    <ng-container
      *ngIf="this.featureFlag.physicalUser; else physical_module_desabled"
    >
      <app-table [setColumns]="tableColumns">
        <ng-container part="list">
          <tr class="table__text-description">
            <td>Lorem ipsum dolor sit amet.</td>
            <td>000.000.000-00</td>
            <td class="table__button">
              <button>Resetar Senha</button>
            </td>
          </tr>
        </ng-container>
      </app-table>
    </ng-container>
    <ng-template #physical_module_desabled>
      <app-not-allowed></app-not-allowed>
    </ng-template>
  </div>

  <footer class="footer">
    <app-pagination-number [visibleItems]="10" [totalItems]="20">
    </app-pagination-number>
    <app-pagination> </app-pagination>
  </footer>
</section>
