<div class="input">
  <app-input-search
    [placeholder]="placeholderActiveSection"
    [styles]="{ width: '20rem' }"
  ></app-input-search>
</div>

<section class="user__content">
  <div class="tab-nav">
    <app-tab-nav
      [titles]="sectionTitle"
      (activeTab)="changeTab($event)"
    ></app-tab-nav>
  </div>

  <div class="firstSection">
    <ng-container *ngIf="activeTab == sectionTitle[0]">
      <app-table [setColumns]="tableColumns">
        <td class="table-details__body--btn">
          <button type="button" (click)="openUserModal()">Alterar Senha</button>
        </td></app-table
      >

      <div class="pagination-number">
        <app-pagination-number
          [visibleItems]="12"
          [totalItems]="70"
          class="pagination-number"
        ></app-pagination-number>
      </div>
    </ng-container>
  </div>

  <div class="secondSection" *ngIf="activeTab == sectionTitle[1]">
    <ng-container
      *ngIf="this.featureFlag.physicalUser; else physical_module_desabled"
    >
      <app-table [setColumns]="tableColumns" class="secondSection--table">
        <ng-container part="list">
          <tr class="secondSection--table-details__body--text-description">
            <td>Lorem ipsum dolor sit amet.</td>
            <td>00.000.000/000-00</td>
            <td class="secondSection--table-details__body--border-btn">
              <button (click)="openUserModal()">Alterar</button>
            </td>
          </tr>
        </ng-container>
      </app-table>

      <!-- FALTA VERIFICAR O CSS !!! -->

      <div class="user__content__page">
        <div class="secondSection--pagination">
          <app-pagination-number
            [visibleItems]="users.length"
            [totalItems]="totalCountUsers"
          ></app-pagination-number>

          <app-pagination
            class="pagination"
            [pagination$]="pagination$"
            (currentPageEmit)="getUsersFromServer($event)"
          ></app-pagination>
        </div>
      </div>
    </ng-container>
    <ng-template #physical_module_desabled>
      <app-not-allowed></app-not-allowed>
    </ng-template>
  </div>

  <div class="thirdSection" *ngIf="activeTab == sectionTitle[2]">
    <ng-container>
      <button class="buttons-style" (click)="openCitizenModal()"></button>
      <div class="pagination-number">
        <app-pagination-number [totalItems]="70"></app-pagination-number>
        <div class="secondSection--pagination">
          <app-pagination
            class="pagination"
            (currentPageEmit)="getNumberPage()"
            [pagination$]="pagination$"
          ></app-pagination>
        </div>
      </div>
    </ng-container>
    <ng-template #physical_module_desabled>
      <app-not-allowed></app-not-allowed>
    </ng-template>
  </div>
</section>
