@import '../../../../assets/styles/variables';
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $blue-700;
  padding: 0.5rem 2rem;
  &__text {
    color: $white;
    align-items: center;
    display: flex;
    &__logo-gcti {
      margin-right: 1.5rem;
    }
    &__date {
      margin: auto 0.2rem;
    }
  }
}
