<div class="sidebar" [ngClass]="{ ativado: isOpen }">
  <nav class="nav_items">
    <button type=" button " (click)="toggleMenu()">
      <img
        *ngIf="isOpen"
        class="logo-bemp"
        src="../../../../assets/icons/sidebar/logo-bemp.svg "
        alt="Banco de Empregos"
      />
      <img
        *ngIf="!isOpen"
        class="logo-prefeitura"
        src="../../../../assets/icons/sidebar/icone-logo-prefeitura.svg "
        alt="Prefeitura Municipal de Parnamirim"
      />
    </button>

    <ul>
      <li>
        <a
          [routerLink]="['/gerenciador']"
          routerLinkActive="--active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img
            class="icones"
            src="../../../../assets/icons/sidebar/icone-inicio.svg"
            alt="Inicio"
          />
          <span class="items">Início</span>
        </a>
      </li>

      <li>
        <a
          [routerLink]="['/gerenciador/curriculos']"
          routerLinkActive="--active"
        >
          <img
            class="icones"
            src="../../../../assets/icons/sidebar/icone-curriculo.svg"
            alt="Currículos"
          />
          <span class="items">Currículos</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/gerenciador/empresas']" routerLinkActive="--active">
          <img
            class="icones"
            src="../../../../assets/icons/sidebar/icone-empresas.svg"
            alt="Empresas"
          />
          <span class="items">Empresas</span>
        </a>
      </li>

      <li>
        <a
          [routerLink]="['/gerenciador/encaminhamentos']"
          routerLinkActive="--active"
        >
          <img
            class="icones"
            src="../../../../assets/icons/sidebar/icone-encaminhamentos.svg"
            alt="Encaminhamentos"
          />
          <span class="items">Encaminhamentos</span>
        </a>
      </li>

      <li>
        <a
          [routerLink]="['/gerenciador/relatorios']"
          routerLinkActive="--active"
        >
          <img
            class="icones"
            src="../../../../assets/icons/sidebar/icone-relatorios.svg"
            alt="Relatórios"
          />
          <span class="items">Relatórios</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/gerenciador/usuarios']" routerLinkActive="--active">
          <img
            class="icones"
            src="../../../../assets/icons/sidebar/icone-usuarios.svg"
            alt="Usuários"
          />
          <span class="items">Usuários</span>
        </a>
      </li>
    </ul>
  </nav>

  <button
    (click)="toggleMenu()"
    class="toggle-button"
    [ngClass]="{ 'flex-end': isOpen }"
  >
    <img *ngIf="!isOpen" src="../../../../assets/icons/arrow-right.svg" />
    <img *ngIf="isOpen" src="../../../../assets/icons/arrow-left.svg" />
  </button>
</div>
