@import 'variables';

button {
  background: none;
  border: none;
}

.sidebar {
  margin: 0;
  height: 100%;
  background: $blue-700;
  display: block;
  transition: 0.1s linear all;
  width: 61px;
  position: relative;
  height: 100%;
}

.sidebar.ativado {
  width: 100%;
}

.sidebar ul li span {
  display: none;
}

.sidebar.ativado ul li span {
  display: block;
}

.sidebar.ativado ul li .tooltip {
  display: none;
}

.nav_items {
  padding: 1rem;
}

.sidebar:not(.ativado) .nav_items ul li:hover .tooltip {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  background-color: $green-500;
  left: 2rem;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  z-index: 9999;
  border-radius: 5px;
  box-shadow: $box-shadow;
  transition: 200ms linear all;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid $green-500;
  }
}

.nav_items ul li {
  position: relative;
}

.nav_items li a {
  margin-top: 1.3rem;
  display: flex;
  cursor: pointer;
  transition: 100ms linear all;
  padding: 0.8rem 0;

  span {
    font-size: 1.2rem;
    color: $white;
    margin-left: 15px;
    margin-top: 5px;
  }

  &:hover,
  &.--active {
    filter: invert(49%) sepia(98%) saturate(376%) hue-rotate(74deg)
      brightness(91%) contrast(86%);
  }
}

.logo-prefeitura {
  position: relative;
  left: -5px;
  margin-top: 12.5px;
  margin-bottom: 43.4px;
}

.logo-bemp {
  margin-bottom: 1.5rem;
  padding: 0.4rem;
}

.icones {
  width: 1.2rem;
  margin-top: 4px;
}

.toggle-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: darken($blue-700, 4);
  transition: 100ms linear all;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 1.2rem;
  }
}

.toggle-button.flex-end {
  justify-content: flex-end;
  padding-right: 2.5rem;
}
