<section class="edit__company">
  <form class="edit__company--content" [formGroup]="form">
    <div class="edit__company--content-data">
      <h2>Dados da Empresa</h2>

      <div class="edit__company--content-data--line-one">
        <input type="text" placeholder="Nome Fantasia" formControlName="name" />
        <input
          type="text"
          placeholder="CNPJ"
          formControlName="cnpj"
          mask="00.000.000/0000-00"
        />
      </div>

      <div class="edit__company--content-data--line-two">
        <input
          type="text"
          placeholder="Razão Social"
          formControlName="companyName"
        />

        <select formControlName="amountEmployees">
          <option value="" selected hidden disabled>
            Número de Funcionário
          </option>
          <option
            *ngFor="let amountEmployee of amountEmployees"
            [value]="amountEmployee"
          >
            {{ amountEmployee }}
          </option>
        </select>
        <ng-container>
          <select formControlName="workfield">
            <option selected hidden disabled value="">Ramo da Empresa</option>
            <option
              *ngFor="let workfield of workfields"
              [value]="workfield.name"
            >
              {{ workfield.name }}
            </option>
          </select>
        </ng-container>
      </div>
    </div>

    <div class="edit__company--content-contact">
      <h2>Contato</h2>

      <div class="edit__company--content-contact--line-one">
        <input type="text" placeholder="E-mail" formControlName="email" />
        <div class="phone-number-array__array">
          <ng-container
            formArrayName="phoneNumbers"
            *ngFor="
              let pn of phoneNumbers.controls;
              let i = index;
              let first = first
            "
          >
            <div
              class="phone-number-array__phone-number"
              *ngIf="first"
              [formGroupName]="i"
            >
              <div class="phone-number-array__input">
                <input
                  formControlName="number"
                  type="text"
                  placeholder="Telefone"
                  mask="(00) 00000-0000"
                />
                <button type="button" (click)="addNewPhoneNumber()">
                  <img
                    src="../../../../../assets/icons/icon-sum.svg"
                    alt="icon-sum"
                  />
                </button>
              </div>
              <div class="phone-number-array__checkbox">
                <label for="isNotOwner">Não é proprietario?</label>
                <input
                  type="checkbox"
                  formControlName="isNotOwner"
                  name="isNotOwner"
                  id="isNotOwner"
                />
              </div>
            </div>

            <div
              class="phone-number-array__phone-number"
              *ngIf="!first"
              [formGroupName]="i"
            >
              <div class="phone-number-array__input">
                <input
                  formControlName="number"
                  type="text"
                  placeholder="Telefone"
                  mask="(00) 00000-0000"
                />
                <button type="button" (click)="removePhoneNumber(i)">
                  <img
                    src="../../../../../assets/images/icon-recusar-vermelho.svg"
                    alt="icon-sum"
                    class="icon-recursa"
                  />
                </button>
              </div>
              <div class="phone-number-array__checkbox">
                <label for="isNotOwner">Não é proprietario?</label>
                <input
                  type="checkbox"
                  formControlName="isNotOwner"
                  name="isNotOwner"
                  id="isNotOwner"
                />
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="edit__company--content-address" formGroupName="address">
      <h2>Endereço</h2>

      <div class="edit__company--content-address--line-one">
        <input
          type="text"
          formControlName="zipCode"
          placeholder="CEP"
          (blur)="getZipCode()"
          mask="00000-000"
        />
        <input type="text" placeholder="Rua" formControlName="street" />
        <input type="text" placeholder="Número" formControlName="number" />
      </div>

      <div class="edit__company--content-address--line-two">
        <input type="text" placeholder="Cidade" formControlName="city" />

        <input
          required
          formControlName="neighborhood"
          type="text"
          placeholder="Bairro"
        />

        <input
          type="text"
          placeholder="Complemento"
          formControlName="complement"
        />
      </div>
    </div>

    <div
      class="edit__company--content-corporate"
      formGroupName="legalRepresentative"
    >
      <h2>Representante Legal</h2>

      <div class="edit__company--content-corporate--line-one">
        <input type="text" placeholder="Nome" formControlName="name" />
        <input type="text" placeholder="E-mail" formControlName="email" />
      </div>

      <div class="edit__company--content-corporate--line-two">
        <input
          type="text"
          placeholder="Telefone"
          formControlName="phoneNumber"
          mask="(00) 0000-0000"
        />
        <input
          type="text"
          placeholder="Celular"
          formControlName="cellNumber"
          mask="(00) 00000-0000"
        />
      </div>
    </div>

    <div class="buttons-style">
      <app-button
        class="button.decline"
        [text]="'Voltar'"
        [color]="'transparent'"
        [textColor]="'#1C3152'"
        (click)="closeModal()"
      >
      </app-button>

      <app-button
        class="button.decline"
        [text]="'Editar'"
        [color]="'#1C3152'"
        (click)="handleUpdateCompany()"
      >
      </app-button>
    </div>
  </form>
</section>
