@import 'variables';

::-webkit-scrollbar-track {
  background-color: #d5d8dc;
}
::-webkit-scrollbar {
  width: 10px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background: #abb2b9;
  border-radius: 20px;
}

.edit__company {
  background-color: $white;
  border-radius: 14px;
  box-shadow: $box-shadow;
  padding: 1rem 3rem 2rem;
  max-height: 90vh;
  overflow-y: auto;

  &--content h2 {
    justify-content: flex-start;
    color: $blue-700;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  &--content input::placeholder {
    font-size: 1rem;
  }

  &--content-data--line-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &--content-data--line-one input:first-child {
    width: 63%;
  }

  &--content-data--line-one input {
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 35%;
    padding: 0.8rem;
  }

  &--content-data--line-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &--content-data--line-two input {
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 42%;
    padding: 0.8rem;
  }

  &--content-data--line-two select {
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 27%;
    padding: 0.8rem;
    background: url(../../../../../assets/images/icons/arrow-bottom.svg);
    -webkit-appearance: none;
    color: $gray-700;
    font-size: 1rem;
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }

  &--content-contact--line-one {
    display: flex;
    width: 98%;
    justify-content: space-between;
  }

  &--content-contact--line-one input:first-child {
    width: 55%;
    height: 3rem;
  }

  &--content-contact--line-one input {
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 39%;
    padding: 0.8rem;
  }

  &--content-contact--line-one img {
    width: 25px;
    position: relative;
  }

  &--content-address--line-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &--content-address--line-one input:first-child {
    width: 26%;
  }

  &--content-address--line-one input:nth-child(2n) {
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 45%;
    padding: 0.8rem;
  }

  &--content-address--line-one input {
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 25%;
    padding: 0.8rem;
  }

  &--content-address--line-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &--content-address--line-two input:first-child {
    width: 17%;
  }
  &--content-address--line-two input:nth-child(2) {
    margin: 0 10px;
    width: 20%;
  }

  &--content-address--line-two input {
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 60%;
    padding: 0.8rem;
  }

  &--content-address--line-two select {
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 20%;
    padding: 0.8rem;
    background: url(../../../../../assets/images/icons/arrow-bottom.svg);
    -webkit-appearance: none;
    color: $gray-700;
    font-size: 1rem;
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }

  &--content-corporate--line-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &--content-corporate--line-one input:first-child {
    width: 60%;
  }

  &--content-corporate--line-one input {
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 38%;
    padding: 0.8rem;
  }

  &--content-corporate--line-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &--content-corporate--line-two input {
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 49%;
    padding: 0.8rem;
  }
}

.phone-number-array {
  &__array {
    display: grid;
    gap: 1rem;
  }
  &__phone-number {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__input {
    display: flex;
    width: 100%;
    input {
      width: 100% !important;
      height: 2.5rem;
      margin-right: 0.5rem;
    }
    button {
      background: none;
      border: none;
    }

    .icon-recursa {
      width: 2rem;
    }
  }

  &__checkbox {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
    align-items: center;
    color: $gray-700;
    margin-left: 0.2rem;

    input {
      width: 20px !important;
    }
  }
}

.buttons-style {
  display: flex;
  justify-content: flex-end;
}
