<div class="layout">
  <div class="wrapper">
    <div class="layout__sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <div class="layout__main">
      <div class="layout__login">
        <app-logged-in-user></app-logged-in-user>
        <app-logout></app-logout>
      </div>

      <!-- <div class="layout__logout">
        <app-logout></app-logout>
      </div> -->

      <div class="layout__content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>

  <div class="layout__footer">
    <app-footer></app-footer>
  </div>
</div>
