@import 'variables';

input {
  //width: 100%;
  border: 1px solid $gray-300;
  padding: 0.4rem;
  border-radius: 4px;
  background: $white;
  background-image: url(../../../../assets/images/icons/icon-src.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  &::placeholder {
    font-size: 0.8rem;
    max-width: 88%;
    overflow: hidden;
    display: block;
    color: $gray-500;
  }
}
