<main class="modules">
  <header class="modules__header">
    <app-page-title [title]="'Módulos'"></app-page-title>
  </header>

  <section class="modules__content">
    <div class="modules__content__card">
      <div class="modules__content__card--disable-tag">
        <span>desativado</span>
      </div>

      <div class="modules__content__card--disable-resume">
        <span>Currículos</span>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div class="modules__content__card">
      <div class="modules__content__card--actived-tag">
        <span>ativado</span>
      </div>

      <div class="modules__content__card--actived-resume">
        <span>Empresas</span>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div class="modules__content__card">
      <div class="modules__content__card--actived-tag">
        <span>ativado</span>
      </div>

      <div class="modules__content__card--actived-resume">
        <span>Encaminhamentos</span>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div class="modules__content__card">
      <div class="modules__content__card--actived-tag">
        <span>ativado</span>
      </div>

      <div class="modules__content__card--actived-resume">
        <span>Usuários</span>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div class="modules__content__card">
      <div class="modules__content__card--actived-tag">
        <span>ativado</span>
      </div>

      <div class="modules__content__card--actived-resume">
        <span>Currículos</span>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </section>
</main>
