<div class="tab-struct" [formGroup]="changeEmailForm">
  <h1 class="title-email">E-mail atual: loremipsum@gmail.com</h1>
  <input
    type="text"
    placeholder="novo e-mail"
    formControlName="newEmail"
    ngModel
    required
  />
  <input
    type="text"
    placeholder="confirme e-mail"
    formControlName="confirmEmail"
    (keyup)="verifyEmail()"
  />
</div>
<span class="text-error" *ngIf="!isMatch">
  Ops! Algo deu errado. Digite o mesmo email nos dois campos.</span
>
<span class="text-confirm" *ngIf="emailValid">
  E-mail alterado com sucesso!</span
>
<div class="buttons-style">
  <app-button
    [text]="'Cancelar'"
    [color]="'transparent'"
    [textColor]="'#1C3152'"
    (click)="closeModalEmail()"
  >
  </app-button>
  <app-button [text]="'Salvar'" [color]="'#1C3152'" (click)="verifyEmail()">
  </app-button>
</div>
