<div class="tab-struct" [formGroup]="changeEmailForm">
  <input
    type="text"
    placeholder="novo e-mail"
    formControlName="newEmail"
    ngModel
    (keyup)="verifyEmail()"
    required
  />
  <input
    type="text"
    placeholder="confirmar e-mail"
    formControlName="confirmEmail"
    (keyup)="verifyEmail()"
  />
</div>
<span class="text-error" *ngIf="!isMatch">
  Ops! Algo deu errado. Digite o mesmo email nos dois campos.</span
>
<div class="buttons-style">
  <app-button
    [text]="'Cancelar'"
    [color]="'transparent'"
    [textColor]="'#1C3152'"
    (click)="closeModalEmail()"
  >
  </app-button>
  <app-button [text]="'Salvar'" [color]="'#1C3152'"> </app-button>
</div>
