@import '../../../../../assets/styles/scss/variables';
.card-job-registration {
  width: 100%;
  background: $white;
  box-shadow: $box-shadow;
  border-radius: 14px;
  h1 {
    padding: 1.4rem 2.2rem;
    font-weight: 400;
    font-size: 20px;
    color: $blue-700;
  }
  .input-position {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      margin: 0.5rem 2rem;
      width: 58%;
      padding: 0.5rem 0.5rem;
      box-sizing: border-box;
      height: 43px;
      background: $white;
      border: 1px solid #cccccc;
      border-radius: 4px;
    }
    input::placeholder {
      max-width: 88%;
      overflow: hidden;
      display: block;
      color: $gray-500;
    }
    select {
      width: 35%;
      height: 43px;
      border: 1px solid #cccccc;
      padding: 0.5rem 0.5rem;
      border-radius: 4px;
      background: url(../../../../../assets/icons/arrow-bottom.svg);
      -webkit-appearance: none;
      color: $gray-700;
      font-size: 0.9rem;
      overflow: hidden;
      display: block;
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }
  }
  .buttons {
    display: flex;
    justify-content: end;
    margin: 1rem 1rem 2rem;
    margin-top: 1rem;
    align-items: baseline;
    .save {
      padding: 0.2rem 0.7rem 0.9rem;
    }
  }
}
