@import 'variables';
@import '../../../resume/components/archiving-modal/archiving-modal.component.scss';
.home {
  &__header {
    margin-bottom: 2rem;
  }
}

.card-job-registration {
  width: 100%;
  background: $white;
  box-shadow: $box-shadow;
  border-radius: 14px;
  padding: 2rem 1.5rem 1rem 1.5rem;
  h1 {
    font-weight: 400;
    font-size: 20px;
    color: $blue-700;
  }
  .input-position {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;

    input {
      width: 58%;
      padding: 0.5rem 0.5rem;
      box-sizing: border-box;
      height: 43px;
      background: $white;
      border: 1px solid #cccccc;
      border-radius: 4px;
    }
    input::placeholder {
      max-width: 88%;
      overflow: hidden;
      display: block;
      color: $gray-500;
    }
    select {
      width: 42%;
      height: 43px;
      border: 1px solid #cccccc;
      padding: 0.5rem 0.5rem;
      border-radius: 4px;
      background: url(../../../../../assets/icons/arrow-bottom.svg);
      -webkit-appearance: none;
      color: $gray-700;
      font-size: 0.9rem;
      overflow: hidden;
      display: block;
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    align-items: baseline;
    .save {
      padding: 0.2rem 0.7rem 0.9rem;
    }
  }

  .options {
    background: #ffffff;
    box-shadow: 2px 0px 19px #555555;
    border-radius: 5px;
    position: absolute;
    top: 18rem;
    right: 4rem;
    height: 10rem;
    max-height: 10rem;
    min-height: 10rem;
    overflow-y: auto;
    z-index: 999;
    width: 42%;
    p {
      padding: 1rem;
      font-size: 0.9rem;
      color: $gray-700;
      font-weight: 500;
      &:hover {
        background: #cccccc;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
