<main class="user">
  <header class="user__header">
    <app-page-title [title]="'Usuários'"></app-page-title>
  </header>

  <div class="input">
    <app-input-search
      [placeholder]="placeholderActiveSection"
      [styles]="{ width: '20rem' }"
    ></app-input-search>
  </div>

  <section class="user__content">
    <div class="tab-nav">
      <app-tab-nav
        [titles]="sectionTitle"
        (activeTab)="changeTab($event)"
      ></app-tab-nav>
    </div>

    <div class="semas-section" *ngIf="activeTab == sectionTitle[0]"></div>

    <div class="company-section" *ngIf="activeTab == sectionTitle[1]">
      <ng-container *ngIf="this.featureFlag.legalUser; else moduleDisabled">
        <app-legal-user-list></app-legal-user-list>
      </ng-container>
    </div>

    <div class="physical-user-section" *ngIf="activeTab == sectionTitle[2]">
      <ng-container *ngIf="this.featureFlag.physicalUser; else moduleDisabled">
        <app-physical-user-list></app-physical-user-list>
      </ng-container>
    </div>
  </section>
</main>

<ng-template #moduleDisabled>
  <app-not-allowed></app-not-allowed>
</ng-template>
