<app-information-card [title]="title" [career]="career">
  <div class="card-details">
    <span class="card-details__line-one"
      ><img src="../../../../assets/images/icon-company.svg" />
      <b>2</b>Encaminhamentos em aberto</span
    >

    <span class="card-details__line-two">
      <img src="../../../../assets/images/icon-company-blue.svg" />
      <b>3</b>Encaminhamentos concluídos</span
    >
  </div>
  <div class="card-company">
    <span class="card-company__line-active"> Ativa desde: 15/10/21 </span>
    <span class="card-company__line-status"> Status: </span>
    <span class="card-company__line-active-green"> Ativa </span>
  </div>
</app-information-card>
