<section>
  <app-information-card [title]="title" [career]="career">
    <div class="card-details">
      <span class="card-details__forwading-datas">
        <img src="../../../../assets/images/icons/icon-company.svg" />
        <b>2</b>Encaminhamentos em aberto
      </span>

      <span class="card-details__forwading-datas">
        <img src="../../../../assets/images/icons/icon-company-blue.svg" />
        <b>3</b>Encaminhamentos concluídos
      </span>
    </div>

    <div class="card-company">
      <span>Ativa desde: 15/10/21</span>
      <span>Status: <span class="card-company__status">Ativa</span></span>
    </div>
  </app-information-card>
  <section></section>
</section>
