<app-table [setColumns]="tableColumns">
  <ng-container part="list">
    <tr class="table__text-description" *ngFor="let legalUser of legalUsers">
      <td>{{ legalUser.legalPerson.name }}</td>
      <td>{{ legalUser.legalPerson.cnpj | mask: '00.000.000/0000-00' }}</td>
      <td class="table__button">
        <button (click)="openModal()">Resetar Senha</button>
      </td>
    </tr>
  </ng-container>
</app-table>

<div class="table__page">
  <div class="table__pagination">
    <app-pagination-number
      [visibleItems]="legalUsers.length"
      [totalItems]="totalCountLegalUsers"
    ></app-pagination-number>

    <app-pagination
      [pagination$]="pagination$"
      (currentPageEmit)="getLegalUsers($event)"
    ></app-pagination>
  </div>
</div>
