<app-table [setColumns]="tableColumns">
  <ng-container part="list">
    <tr class="table__text-description" *ngFor="let legalUser of legalUsers">
      <td>{{ legalUser.legalPerson.companyName }}</td>
      <td>{{ legalUser.legalPerson.cnpj | mask: '00.000.000/0000-00' }}</td>
      <td class="table__button">
        <button (click)="openModal(legalUser.id)">Alterar</button>
      </td>
    </tr>
  </ng-container>
</app-table>

<ng-container *ngIf="search.length <= 3">
  <h2 class="not-search">Faça uma pesquisa para a aparição de dados</h2>
</ng-container>

<ng-container *ngIf="!loading && legalUsers.length == 0 && search.length > 3">
  <h2 class="not-search">Nenhum usuário foi encontrado.</h2>
</ng-container>

<ng-container *ngIf="loading && search.length > 3">
  <h2 class="not-search">Carregando...</h2>
</ng-container>

<div class="table__page">
  <div class="table__pagination">
    <app-pagination-number
      [visibleItems]="legalUsers.length"
      [totalItems]="totalCountLegalUsers"
    ></app-pagination-number>

    <app-pagination
      [pagination$]="pagination$"
      (currentPageEmit)="getLegalUsers($event)"
    ></app-pagination>
  </div>
</div>
