@import 'variables';

.table {
  &__text-description {
    border: 1px solid $black-100;
    border-left: none;
    border-right: none;

    td {
      padding: 0.5rem 2rem;
      border-left: none;
      border-right: none;
      &:first-child {
        text-align: left;
      }
    }
  }

  &__button {
    gap: 1rem;
    display: flex;
    justify-content: center;

    button {
      border: none;
      background: $white;
      color: $gray-700;
      border: 1px solid #77777787;
      padding: 0.3rem 2rem;
      border-radius: 6px;
    }
  }

  &__page {
    margin-bottom: 1rem;
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: self-end;
  }
}

.not-search {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: $blue-700;
  font-weight: 500;
}
