@import 'variables';

.resume-details {
  padding: 0.8rem;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 30rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 0.4rem;

    &__view {
      display: flex;
      gap: 1rem;

      &--title {
        font-size: 1.1rem;
        color: $blue-700;
      }

      &--tag {
        background-color: $blue-500;
        color: $white;
        border-radius: 25px;
        padding: 0.1rem 2rem;
        font-size: 0.8rem;
        font-weight: 500;
      }
    }

    &__situation b:first-child {
      font-size: 0.9rem;
      color: $blue-700;
    }

    &__situation {
      font-size: 0.8rem;
      color: $green-500;
      font-weight: 500;
    }
  }

  // Dados
  &__box__personal {
    background: $white;
    border-radius: 5px;
    position: relative;
    border: 1px solid $black-100;
    padding: 0.5rem;
    margin: 0.5rem 0;

    &--title {
      padding: 0.5rem;
      font-size: 0.9rem;
      color: $blue-700;
      padding: 0.5rem 0.5rem;
    }

    &--view {
      padding: 0.3rem;
      font-size: 0.8rem;
      color: $blue-700;

      &-name {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.2rem;
      }

      &-mail {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.2rem;
      }

      &-data {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.2rem;
      }
    }
  }

  &__box__contact {
    background: $white;
    border-radius: 5px;
    position: relative;
    border: 1px solid $black-100;
    padding: 0.5rem;
    margin: 0.5rem 0;

    &--title {
      padding: 0.5rem;
      font-size: 0.9rem;
      color: $blue-700;
      padding: 0.5rem 0.5rem;
    }

    &--text {
      padding: 0.3rem;
      font-size: 0.8rem;
      color: $blue-700;
      display: flex;
      justify-content: space-between;

      &-phone {
        padding: 0.5rem 0.2rem;
      }

      &-mail {
        padding: 0.5rem 0.2rem;
      }
    }
  }

  &__box__address {
    background: $white;
    border-radius: 5px;
    position: relative;
    border: 1px solid $black-100;
    padding: 0.5rem;
    margin: 0.5rem 0;

    &--title {
      padding: 0.5rem;
      font-size: 0.9rem;
      color: $blue-700;
      padding: 0.5rem 0.5rem;
      font-weight: 700;
    }

    &--information {
      padding: 0.3rem;
      font-size: 0.8rem;
      color: $blue-700;
      width: 80%;

      &-city {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.2rem;
      }

      &-district {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.2rem;
      }

      &-street {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.2rem;
      }
    }
  }

  // Disponibilidade
  &__box__shift {
    background: $white;
    border-radius: 5px;
    position: relative;
    border: 1px solid $black-100;
    padding: 0.5rem;
    margin: 0.5rem 0;

    &--title {
      padding: 0.5rem;
      font-size: 0.9rem;
      color: $blue-700;
      padding: 0.5rem 0.5rem;
      font-weight: 700;
    }

    &--description {
      padding: 0.3rem;
      font-size: 0.8rem;
      color: $blue-700;

      &-morning {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.2rem;
      }

      &-afternoon {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.2rem;
      }

      &-night {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.2rem;
      }
    }
  }

  &__box__trips {
    background: $white;
    border-radius: 5px;
    position: relative;
    border: 1px solid $black-100;
    padding: 0.5rem;
    margin: 0.5rem 0;

    &--title {
      padding: 0.5rem;
      font-size: 0.9rem;
      color: $blue-700;
      padding: 0.5rem 0.5rem;
    }

    &--text {
      padding: 0.5rem;
      font-size: 0.8rem;
      color: $blue-700;
      display: flex;
      justify-content: space-between;
    }
  }

  // Formação
  &__box__formation {
    background: $white;
    border-radius: 5px;
    position: relative;
    border: 1px solid $black-100;
    padding: 0.3rem;
    margin: 0.5rem 0;

    &--title {
      padding: 0.5rem;
      font-size: 0.9rem;
      color: $blue-700;
      padding: 0.5rem 0.5rem;
      font-weight: 700;
    }

    &--description {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--knowledge span {
      justify-content: space-between;
      padding: 0.2rem 0.2rem;
    }

    &--knowledge {
      padding: 0.3rem;
      font-size: 0.8rem;
      color: $blue-700;
      display: flex;
      width: 38%;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 0.8rem;
    }
  }

  // Experiencia
  &__box__experience {
    background: $white;
    border-radius: 5px;
    position: relative;
    border: 1px solid $black-100;
    padding: 0.5rem;
    margin: 0.5rem 0;

    &--title {
      padding: 0.5rem;
      font-size: 0.9rem;
      color: $blue-700;
      padding: 0.5rem 0.5rem;
      font-weight: 700;
    }

    &--description {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--skills span {
      justify-content: space-between;
      padding: 0.2rem 0.2rem;
    }

    &--skills {
      padding: 0.3rem;
      font-size: 0.8rem;
      color: $blue-700;
      display: flex;
      width: 40%;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 0.8rem;
    }
  }

  // btn-all

  &__btn {
    display: flex;
    justify-content: flex-end;
  }
}

.more-jobs {
  background: none;
  border: none;
  font-weight: 500;
  display: flex;
  margin-right: 5rem;
  font-size: 0.8rem;
}
