<div class="resume-details">
  <header class="resume-details__header">
    <div class="resume-name-status-div">
      <h2 class="resume-details__header__view--title">
        {{ resume?.physicalPerson?.name | dashOnNull }}
      </h2>
      <span class="resume-details__header__situation">
        <b> Situação: </b>
        {{ resume?.statusResume ? 'Disponível' : 'Indisponível' }}
      </span>
    </div>
    <div class="resume-details__header__view">
      <span
        *ngFor="
          let object of resume?.jobApplications;
          let isLast = last;
          let i = index
        "
      >
        <p
          class="resume-details__header__view--tag"
          [style.background-color]="colorCodes[i]"
          *ngIf="!isLast"
        >
          {{ object?.job?.name | dashOnNull }}
        </p>
        <p
          class="resume-details__header__view--tag"
          [style.background-color]="colorCodes[i]"
          *ngIf="isLast"
        >
          {{ object?.job?.name | dashOnNull }}
        </p>
      </span>
    </div>
  </header>

  <app-tab-nav
    [titles]="sectionTitle"
    (activeTab)="changeTab($event)"
  ></app-tab-nav>

  <div class="container">
    <ng-container *ngIf="activeTab == sectionTitle[0]">
      <app-about [physicalPerson]="resume?.physicalPerson"></app-about>
    </ng-container>

    <ng-container *ngIf="activeTab == sectionTitle[1]">
      <app-availability
        [willingness]="resume?.physicalPerson?.willingness!"
      ></app-availability>
    </ng-container>

    <ng-container *ngIf="activeTab == sectionTitle[2]">
      <app-formation [educations]="resume?.educations!"></app-formation>
    </ng-container>

    <ng-container *ngIf="activeTab == sectionTitle[3]">
      <app-professional-experience
        [workExperiences]="resume?.workExperiences"
      ></app-professional-experience>
    </ng-container>

    <div class="resume-details__btn">
      <app-button
        class="resume-details__btn__cancel"
        [text]="'Cancelar'"
        [color]="'transparent'"
        [textColor]="'#1C3152'"
        (click)="closeModal()"
      >
      </app-button>

      <app-button
        class="resume-details__btn__print"
        [text]="'Imprimir'"
        [color]="'#1C3152'"
      >
      </app-button>
    </div>
  </div>
</div>
