@import 'variables';

.resume-details {
  padding: 0.8rem;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 30rem;
  }

  .resume-name-status-div {
    display: flex;
    width: 100%;

    span {
      align-self: end;
      margin-left: auto;
      margin-bottom: 1rem;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 0.4rem;

    &__view {
      display: flex;
      gap: 0.4rem;
      flex-wrap: wrap;

      &--title {
        font-size: 1.1rem;
        color: $blue-700;
      }

      &--tag {
        background-color: $blue-500;
        color: $white;
        font-size: 0.7rem;
        padding: 0.25rem 1rem 0.25rem 1rem;
        margin: 0.4rem 0rem 0rem 0rem;
        border-radius: 6px;
        width: fit-content;
      }
    }

    &__situation b:first-child {
      font-size: 0.9rem;
      color: $blue-700;
    }

    &__situation {
      font-size: 0.8rem;
      color: $green-500;
      font-weight: 500;
    }
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
  }
}

.more-jobs {
  background: none;
  border: none;
  font-weight: 500;
  display: flex;
  margin-right: 5rem;
  font-size: 0.8rem;
}
